@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand|Work+Sans&display=swap');

@tailwind components;



@tailwind utilities;
