<template>
    <div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white
        font-bold py-3 px-8 rounded" @click.prevent="openModal">
            <slot></slot>
        </button>
        <modal v-model="modalOpen">
            <div slot="body">
                <section-sub-header class-names="font-text font-bold">Message me</section-sub-header>
                <span class="mb-2 py-2 text-sm text-green-600 bg-green-100 block rounded"
                    v-show="success_message">Your message has been sent to shegunbabs!</span>
                <div class="form flex flex-col font-text">
                    <div class="left w-full">
                        <div class="h-16 text-left mb-2">
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                        leading-tight focus:outline-none focus:shadow-outline"
                                type="text" placeholder="Your name" required
                                v-model="name" ref="name">
                                <span class="text-xs text-red-400 font-semibold pl-3" v-if="errors.name">{{ errors.name[0] }}</span>
                        </div>
                        <div class="h-16 mb-2 text-left">
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                        leading-tight focus:outline-none focus:shadow-outline"
                                type="text" placeholder="Your email" required
                                v-model="email" ref="email">
                                <span class="text-xs text-red-400 font-semibold pl-3" v-if="errors.email">{{ errors.email[0]}}</span>
                        </div>
                    </div>
                    <div class="right w-full">
                        <div class="h-32 mb-2 text-left">
                            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                        leading-tight focus:outline-none focus:shadow-outline h-20"
                                placeholder="Your message" required
                                v-model="message" ref="message"></textarea>
                                <span class="text-xs text-red-400 font-semibold pl-3" v-if="errors.message">{{ errors.message[0] }}</span>
                        </div>
                        <div class="text-right">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-6 rounded font-body"
                                    @click.prevent="submitForm" ref="submit">
                                SEND
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>

import Modal from './Modal';
import SectionSubHeader from './SectionSubHeader';

export default {
    name: 'ModalContactForm',
    components: {
        Modal,
        SectionSubHeader,
    },
    data(){
        return {
            modalOpen: false,
            loading: true,
            name: '',
            email: '',
            message: '',
            errors: {},
            error_message: '',
            success_message: '',
        }
    },
    methods: {
        openModal() {
            this.modalOpen = !this.modalOpen;
        },
        disableInput($inputRef, $text){
            this.$refs[`${$inputRef}`].disabled = true;
            if ($text){
                this.$refs[`${$inputRef}`].innerHTML = $text;
            }
        },
        enableInput($inputRef, $text){
            this.$refs[`${$inputRef}`].disabled = false;
            if ($text){
                this.$refs[`${$inputRef}`].innerHTML = $text;
            }
        },
        clearInputs(){
            this.name = '';
            this.email = '';
            this.message = '';
        },
        showSuccessMessage($text, $delay=10000){
            this.success_message = $text
            setTimeout(() => {
                this.success_message = '';
            }, $delay);

            setTimeout(() => {
                if ( this.modalOpen == true )
                    this.openModal();
            }, $delay * 1000);
        },
        submitForm(){
            //disable inputs
            this.disableInput("name");
            this.disableInput("email");
            this.disableInput("message");
            this.disableInput("submit", 'Sending...');
            //send form values over api
            axios.post('/api/v1/contact', {name: this.name, email: this.email, message: this.message})
            .then((res) => {
                this.showSuccessMessage('You message has been sent');
                this.clearInputs();
                this.enableInput("name");
                this.enableInput("email");
                this.enableInput("message");
                this.enableInput("submit", 'SEND');
            })
            .catch((err) =>
            {
                this.enableInput("name");
                this.enableInput("email");
                this.enableInput("message");
                this.enableInput("submit", 'SEND');
                if (err.response){
                    this.errors = err.response.data.errors ? err.response.data.errors : '';
                    this.error_message = err.response.data.message ? err.response.data.message : '';
                }
                else if (error.request){
                    this.error_message = 'No response was recieved from the server';
                }
                else {
                    this.error_message = 'There was an error setting up your request';
                }
            });
        }
    },
}
</script>
