<template>
    <transition name="modal">
        <div id="modal" class="modal-mask fixed z-9998 inset-0 bottom-0 w-full h-full table" v-show="value">
            <div class="modal-wrapper table-cell align-bottom lg:align-middle">
                <div id="modal-c" class="modal-container w-full md:w-2/5 py-3 px-2 md:mx-auto md:px-5">
                    <div class="contact_form">
                        <div class="modal-header"><slot name="header"></slot></div>
                        <div class="modal-body">
                            <slot name="body"></slot>
                        </div>
                        <div class="modal-footer"><slot name="footer"></slot></div>
                        <div class="close absolute right-0 top-0 hover:cursor-pointer" @click.prevent="close">
                             <div class="icon dripicons-cross px-3 text-2xl" style="color:#FFF;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
export default {
    name: 'Modal',
    props: {
        value : {
            required: true
        }
    },
    methods: {
        close() {
            this.$emit("input", !this.value);
        },
        doNothing() {
            //do nothing
        }
    },
    mounted(){
        document.getElementById('modal').addEventListener('click', (evt) => {
            const modalContainer = document.getElementById("modal-c");
            let targetElement = evt.target;

            do {
                if (targetElement == modalContainer)
                {
                    //this is a click inside the modal do nothing
                    return;
                }
                //go up the DOM
                targetElement = targetElement.parentNode;
            } while (targetElement) {
                //this is a click outside
                if (this.value){
                    this.close();
                }
            }
        });
    }
}
</script>
<style lang="css" scoped>
    .close:hover{
        cursor: pointer;
    }
</style>
